* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 360px;
  background-color: #2400ff;
  border-radius: 15px;
  overflow: hidden;
}

.card {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.card img {
  width: 60px;
  margin-bottom: 20px;
  
}

.card h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

select,
input[type="text"],
input[type="password"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px;
  text-align: center;
  text-transform: uppercase;
}

input::placeholder {
  color: #fff;
}

button {
  background-color: #6496fa;
  color: #000;
  border: none;
  padding: 12px;
  width: 90%;
  margin: 20px auto 10px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
}

a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #0000ff;
  border-bottom: 1px solid #cfcfff;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 3px;
}
