* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 560px;
  height:auto;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-bottom: 20px;
}

.form-box {
  background-color: #2b00ff;
  padding: 30px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo {
  text-align: center;
  color: white;
}

.logo img{
  width: 150px; 
}


.input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.submit-btn {
  margin: 30px auto 0 auto;
  display: block;
  background-color: #2b00ff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #2100cc;
}

input,
select,
button {
 padding: 10px;
 border-radius: 12px;
 border: none;
 font-size: 14px;
}


input,
select {
 background-color: #007bff;
 color: white;
 text-align: center;
}
